body {
    font-family: 'Public Sans', sans-serif;
    background-color: #FAF7F3;
    color: #313131;
    font-size: 1.75rem;
    min-height: 100vh;
    min-width: 100vw;
    min-height: -webkit-fill-available;
    min-width: -webkit-fill-available;
  }

  html {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
  }

  html, body {
    overflow-x: hidden;
  }

a {
    color: #404040;
    text-decoration: none;
}

a:hover {
    color: #78809E;
    text-decoration: none;

}


.active {
    color: #78809E !important; 
}

.center {
   float: center !important;
   text-align: left;
}

.left {
    text-align: left;
    float: left;
    padding-left: 15rem;
    padding-right: 15rem;
}

.right {
    float: right;
    text-align: left;
    padding-right: 15rem;
}

/* header and navigation*/
.page-header {
    padding-left: 14.5rem;
    padding-right: 14.5rem;   
}

#site-title a {
    font-size: 6.5rem;
    font-weight: bold;
    color: #313131;
    text-decoration: none;
    padding-left: 1.5rem;

}

.nav a{
    font-size: 2.5rem;
    color: #92A4D2;
    font-weight: bold;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #78809E;
}

.nav {
    margin-top: -2rem;
    margin-bottom: -2rem;
}



/* page content */
.page-content {
   
    padding-left: 15rem;
    padding-right: 15rem;
}

.header-text {
    font-size: 4rem;
    font-weight: bold;

}


/* ------------------  HOME PAGE ------------------ */
#home-center {
    color: #92A4D2;
    padding-top: 10rem;
    text-align: center;
}

#home-arrow {
    margin-top: 3rem;
}

.animate__animated.animate__fadeInRight
--animate-duration: 5s;

}

/* ------------------  WORK PAGE ------------------ */

/* from W3Schools for responsive portfolio */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 2vh 0;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 50%;
    max-width: 50%;
    padding: 2vh 0vh;
  }
  
  .column img {
    vertical-align: left;
    height: 35vw;
  }
  

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 1000px) {
    .column {
      flex: 100%;
      max-width: 100%;
      display: block;
      padding-right: 2vw;
    }
  }

.padtop {
    padding-top: 3rem;
}


  /* overlay reference from W3Schools */
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #78809E;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .content:hover .overlay {
    opacity: 1;
  }

  .content {
      position: relative;
      display: inline-block;
  }
  
  .overlay-text {
    color: white;
    font-size: 3vh;
    text-align: center;
    vertical-align: middle;
    color: #BCCEEA;
    font-weight: bold;
    
  }

  .overlay-head {
    color: white;
    font-size: 5vh;
    text-align: center;
    vertical-align: middle;
    margin-top: 10vh;
    font-weight: bold;
    
  }

  .animate__animated.animate__fadeInRight
    --animate-duration: 1.5s;
  }

  /* ------------------  PROJECT PAGES ------------------ */

.proj-header {
    font-size: 4rem;
    font-weight: bold;
    
}
.proj-header {
    font-size: 4rem;
    font-weight: bold;
}
.proj-subhead {
    font-size: 2.5rem;
    font-weight: bold;
    color: #78809E;
    margin-top: -1rem;
}

.proj-image {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    height: 100%;
    float: center;
}

.proj-subtitle {
    padding-top: 1.5rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: #78809E;
}

.proj-text {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1.75rem;  
}

.proj-highlight {
    padding: 0.5rem 10rem 0.5rem 5rem;
   
}

.blue {
    color: #78809E;
    font-weight: bold;
    font-size: 2.25rem;
}


/* carousel customization */
.carousel-control.left, .carousel-control.right {
    background-image:none !important;
    filter:none !important;
    padding: 0px;
 }

 .carousel-control {
    opacity: 0.75;
  }
  
  .carousel-inner > .item {
    height: 45vh;
 }


.padbot {
    padding-bottom: 20rem;
}
 /* project page id styling */

#back-next {
    font-size: 1.75rem;
    font-weight: bold;
}

#next-button {
    float: right;
}

  /* ------------------  ABOUT PAGE ------------------ */

  #portrait {
      width: 30vw;
      padding-bottom: 5rem;
      margin-right: 5rem;
  }


  @media screen and (max-width: 1000px) {
    #portrait {
      padding-right: 5rem;
    }
  }